:root{
  --color:  rgb(200, 20, 20);
}

body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.wrapper{
  display: flex;
  height: 500px;
  align-items: baseline;
}
.wrapper div{
  display: inline-block;
  width: 2px;
  background-color: var(--color);
  align-self: flex-end;
}

.logo{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: transparent;
}
path{
  background: blue;
}